/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
/* start global */
*,
*::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    appearance: none;
    background-color: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

input,
textarea {
    border: unset;
    outline: unset;
}

fieldset {
    border: none;
}
/* end global */


/* animation */

.fedeIn-animation {
    animation: fedeIn 0.8s 1 alternate forwards;
}

@keyframes fedeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}